<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <title>MagicCart</title>
    </head>
    <body>
        <div>
            <form action="presults" class="form-inline" method="get">
                <br><br><div class="form-group mx-sm-3 mb-2">
                    <label for="" class="sr-only">search</label>
                    <input name="search" type="" class="form-control" id="" placeholder="type for search">
                </div>
                  <button type="submit" class="btn btn-primary btn-lg mb-2">Search</button>
                  <br><br><br><br>
                  <h3><p>Welcome to MagicCart !!! The best ever shopping cart for books online.</p></h3>
                <br><br><hr><h1>Recommended For You:</h1><br>
                {% if results %}
                    {% for a in results %}
                        <h2>{{a}}</h2>
                    {% endfor %}
                {% else %}
                    <h2>No Recommendations to show. Purchase more to get Recommendations !!! </h2>
                {% endif%}
            </form>
        </div>            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    </body>
</html>
